


@media (min-width: 1200px) {
    .card-rotate-to-left {
        transform: perspective(1000px) rotateY(10deg);
        transform-style: preserve-3d;
    }
    .card-rotate-to-right {
        transform: perspective(1000px) rotateY(-10deg);
        transform-style: preserve-3d;
    }
    .card-lift-off {
        transform: perspective(1000px) rotateY(0deg);
        transform-style: preserve-3d;
    }
}